{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.phone }}
        <li><strong>Whatsapp: </strong>{{ .Site.Data.contact.phone }}</li>
        {{ end }}
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Adres: </strong><br>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
      {{ if .Site.Data.contact.hours }}
      <h4 class="mt-4">Openingstijden</h4>
      <table class="table table-sm opening-hours-table">
        {{ range .Site.Data.contact.hours }}
        <tr>
          <td class="day font-weight-bold">{{ .day }}</td>
          <td class="opens">{{ .open }}</td>
          <td>-</td>
          <td class="closes">{{ .close }}</td>
        </tr>
        {{ end }}
      </table>
      {{ end }}
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.94949505485!2d5.3167652125692495!3d52.40759154442882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c63d1ba4ec3c27%3A0x8cc3ee8106a9554f!2sRenes%20Car%20Service!5e0!3m2!1snl!2snl!4v1681589172316!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
{{ end }}